.home {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  // background-image: url("https://images.unsplash.com/photo-1509205705783-0623e1c4e404?auto=format&fit=crop&w=1403&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
}

.home-text, .explorelink {
  position: absolute;
  top: 38%;
  width: 100vw;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  color: $navy;
  font-size: 28px;
}

.explorelink {
  top: 90%;
  align-items: flex-end;
}

.inspire {
  font-size: 48px;
  // font-family: $welcometext;
}

.home-text > p {
  font-family: $welcometext;
  margin-bottom: 5px;
}

.joinlink {
  font-family: $buttontext;
  background: white;
  text-decoration: none;
  color: $navy;
  margin-top: 20px;
  padding: 6px 20px 6px 20px;;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0px 2px 5px $navy;
}

.hero-pic {
  clip: rect(200px, 2000px, 1000px, 0px);
  top: -200px;
  width: 100%;
}

.explorelink > a {
  color: $navy;
  text-decoration: none;
  font-size: 20px;
  padding-right: 50px;
}

@media screen and(max-width: 1200px) {
  .hero-pic{
    height: 110%;
    width: auto;
  }
}
