.new-pic-form{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  // margin-top: 20px;
  position: relative;
}

.upload{
  margin-top: 30px;
}

.loaded {
  position: absolute;
  top:0px;
  left: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pic-preview {
  max-height: 350px;
  width: auto;
  max-width: 450px;
  height: auto;
  top: 50%;
  left:50%;
}
