.picdetail {
  height: 2200px;
}

.up {
  max-height: 50%;
  width: 100%;
  background-color: $background-grey ;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.up > img {
  height: 80%;
  width: 60%;
}

.bottom {
  height: 1000px;
}
