.picdetail {
  height: 1100px;
}

.up {
  max-height: 50%;
  width: 100%;
  background-color: $background-grey ;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.up > img {
  height: 80%;
  max-height: 520px;
  width: auto;
}

.bottom {
  margin-top: 50px;
  height: 500px;
  display: flex;
  justify-content: center;
}

.bottom-right {
  padding-left: 150px;
  width: 50vw;
  display: flex;
}


.bottom-left {
  padding-left: 150px;
  width: 50vw;
  border-right: 1px solid grey;
}

.bottom-right img {
  padding-right: 30px;
  height: 100px;
  width: auto;
}
