.pics {
  max-height: 470px;
  // max-width: 400px;
  height: auto;
  width: auto;
  margin: 20px;
  display: block;
  position: relative;
}

.pics:hover {
  color: rgb(17, 17, 17);
  // opacity: 0.5;
}

.pics-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.inside-title {
  margin-left: 100px;
  margin-top: 40px;
  font-family: $text;
  color: grey;
}
