.pic-index > li > p {
  font-size: 16px;
  margin-left: 20px;
}

.location {
  margin-left: 180px;
  margin-top: 60px;
  color: grey;
}

.addPic {
  margin-left: 180px;
}
.addPic:hover {
  cursor: pointer;
}
