.project-form {
  margin: 40px;
  margin-left: 220px;
  height: 200px;
  width: 60vw;
  display: flex;
  justify-content: space-around;
}

.project-form input {
  margin-left: 5px;
  border: 1px solid grey;
  height: 25px;
}

.project-form label {
  font-size: 18px;
}

.project-form button {
  font-size: 14px;
}
