.project-form {
  margin: 80px;
  // margin-left: 200px;
  height: 200px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.project-form input {
  text-align: center;
  border: 1px solid grey;
  height: 25px;
}

.project-form button {
  font-size: 14px;
}
