.pic-index > li > p {
  font-size: 16px;
  margin-left: 20px;
}

.location {

  color: grey;
}

.addPic {
  margin-left: 180px;
}
.addPic:hover {
  cursor: pointer;
}

.projecr-detail-title {
  display: flex;
  justify-content: space-between;
  margin-left: 180px;
  margin-top: 60px;
  margin-right: 160px;
  color: grey;
}

.fa-trash {
  margin-right: 5px;
}

.projecr-detail-title > a:hover{
  cursor: pointer;
}

.hide{
  visibility: hidden;
}
