// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.session-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.session-form > h1 {
  font-size: 36px;
}

.session-form {
  padding: 70px 100px 20px 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.signup{
  padding: 40px 100px 20px 100px;
}


.session-form input {
  text-align: center;
  width: 150px;
  height: 30px;
  border: 1px solid #00113a;
}

.login > * {
  margin-bottom: 20px;
}

.signup > * {
  margin-bottom: 20px;
}

.session-button, #session-check{
  align-items: center;
  display: flex;
  justify-content: flex-end;
  align-self: center;
}
.session-button >button {
  font-size: 14px;
  border: 1px solid #00113a;
  padding: 2px 5px 2px 5px;
}

#designerCheck {
  width: auto;
  margin-right: 5px;
}
