.projects {
  margin-top: 70px;
}

.project-cover {
  // position: absolute;
  height: 700px;
  clip: rect(0,400px,400px,0px)
}

.project-gallary {
  margin-left: 60px;
  font-size: 28px;
  color: grey;
}

.frame{
  overflow: hidden;
  // position: relative;
  width: 400px;
  height: 400px;
}

.polaroid{
  text-align: center;
  width: 400px;
}

.note{
  display: flex;
  justify-content: space-between;
}

.note>p{
  // position: relative;
  // display: flex;
  margin: 20px;
  padding: 10px;
  z-index: 1000;
  // align-items: flex-end;
  text-decoration: none;
  font-size: 18px;
  color: grey;
}


.project-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
}

.project-item{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 40px;
}
