// .projects {
//   margin-left: 150px;
//   margin-top: 70px;
// }

.project-cover {
  // position: absolute;
  height: 350px;
  clip: rect(0,350px,350px,0px)
}

// .project-gallary {
//   margin-left: 60px;
//   font-size: 20px;
//   color: grey;
// }

.frame{
  overflow: hidden;
  // position: relative;
  height: 350px;
}

.polaroid{
  text-decoration: none;
  text-align: center;
  width: 350px;
}

.note{
  display: flex;
  justify-content: space-between;
}

.note>p{
  // position: relative;
  // display: flex;
  margin: 20px;
  padding: 10px;
  z-index: 1000;
  // align-items: flex-end;
  font-size: 18px;
  color: grey;
}


.project-index {
  margin-left: 100px;
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-around;
  flex-direction: row;
}

.project-item{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 30px;
}

.project-item p {
  color: grey;
  margin: 5px;
}
