.home {
  position: relative;
  overflow: hidden;
  height: calc(100vh - 65px);
  width: 100%;
}

.home-text {
  position: absolute;
  top: 50%;
  left: 20px;
  color: white;

}

.home-text > a {

}

.hero-pic {
  clip: rect(200px, 2000px, 1000px, 0px);
  top: -200px;

}

@media screen and(max-width: 1200px) {
  .hero-pic{
    height: 110%;
    width: auto;
  }
}
