<!DOCTYPE html>
<html>
  <head>
    <title>Dreamhouse</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Barlow|Lusitana|Neuton|Poiret+One|Titillium+Web" rel="stylesheet">

  </head>

  <body>
    <%= yield %>
  </body>
</html>
